.AboutMe{
    width: 99.1vw;
    height: 100vh;
    position: absolute;
    top: 117vh;
    background-color: #11141b !important;
}

.AboutMe>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
}
.AboutMe>div:nth-child(1){
    background-image: url("");
}