.Contact{
    width: 99.1vw;
    height: 50vh;
    top: 644vh;
    background-color: #11141b;
    position: absolute;
    background-position: center;
    background-size: cover;
}
.Contact>div:nth-child(1){
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #11141b;
}

.Contact>div:nth-child(1)>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    font-size: 50px;
}

.Contact>#con-div-one{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 8%;
    top: 40%;
}

.Contact>#con-div-one>h1{
    position: absolute;
    left: 0;
    margin: 0;
    color: white;
    font-size: 40px;
}

.Contact>#con-div-one>h3{
    position: absolute;
    left: 0;
    margin: 0;
    color: white;
    top: 45%;
    left: 10%;
/*    font-size: 40px;*/
}

.Contact>#con-div-two{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 45%;
    top: 40%;
}

.Contact>#con-div-two>h1{
    position: absolute;
    left: 0;
    margin: 0;
    color: white;
    font-size: 40px;
}

.Contact>#con-div-two>h3{
    position: absolute;
    left: 0;
    margin: 0;
    color: white;
    top: 45%;
    left: 15%;
    /*    font-size: 40px;*/
}

.Contact>#con-div-three{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 75%;
    top: 40%;
}

.Contact>#con-div-three>h1{
    position: absolute;
    left: 0;
    margin: 0;
    color: white;
    font-size: 40px;
}

.Contact>#con-div-three>h3{
    position: absolute;
    left: 0;
    margin: 0;
    color: white;
    top: 45%;
    left: 15%;
    /*    font-size: 40px;*/
}

#contact-form{
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: #000000;
    top: 680vh;

}

#contact-form>h1{
    position: absolute;
    left: 45%;
    top: 5%;
    color: white;
}

#contact-form>#form{
    position: absolute;
    top: 20%;
    left: 25%;
}

#contact-form>#form>#form-content>.text-field{
    width: 750px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

#contact-form>#form>#form-content>#txtMessage{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
}

#contact-form>#form>#form-content>#send-btn{
    width: 750px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}

#footer-bar{
    position: absolute;
    width: 100%;
    height: 150px;
    top: 700px;
    background-color: #11141b;
}

#icon-bar{
    position: absolute;
    width: 350px;
    height: 50px;
    left: 40%;
    top: 5%;
}

#footer-bar>#icon-bar>h2{
    display: inline;
    color: white;
    font-size: 50px;
    margin-right: 10px;
}

#footer-bar>h3{
    position: relative;
    left: 40%;
    top: 50px;
    margin-bottom: 0;
    margin-top: 0;
    color: #ffffff;
}

#footer-bar>#hs3{
    left: 42%; !important;
}












