.Contact{
    width: 99.1vw;
    height: 80vh;
    top: 644vh;
    background-color: #11141b;
    position: absolute;
}
.Contact>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    font-size: 50px;
}
.Contact>div:nth-child(2){
    width: 50px;
    height: 50px;

}