footer{
    width: 99vw;
    height: 140vh;
    top: 694vh;
    background-color: #0c0f16;
    position: absolute;
    background-position: center;
    background-size: cover;

}

.footer>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    font-size: 50px;
}

.footer>section:nth-child(2) {
    width: 100%;
    height: 800px;
    position: absolute;
    top: 120px;
    margin: auto;
    /*background-image: linear-gradient(rgba(0, 0, 0, 0.54),rgba(0, 0, 0, 0.32)),url("../assets/img/footer-image.jpg");*/
    background-position: center;
    background-size: cover;
}

.footer>section:nth-child(2)>div {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 850px;
    height: 57px;
    background-color: rgba(255, 255, 255, 0.47);
}

.footer>section:nth-child(2)>div>input {
    width: 650px;
    height: 55px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.47);
    position: absolute;
    right: 0;
    top: 0;
    margin: auto;
    border: none;
}

.footer>section:nth-child(2)>div>h3 {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 0;
    color: #010c2b;
    font-size: 25px;
}
.footer>section:nth-child(2)>div:nth-child(2) {
    top: 140px;
}

.footer>section:nth-child(2)>div:nth-child(3) {
    top: 240px;
}

.footer>section:nth-child(2)>div:nth-child(4) {
    top: 340px;
    height: 200px;
}

.footer>section:nth-child(2)>div:nth-child(4)>textarea {
    background-color: rgba(255, 255, 255, 0.47);
    height: 200px;
    width: 848px;
    border: none;
    margin: 0;
}

.footer>section:nth-child(2)>div:nth-child(4)>h3 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.send-btn{
    font-family: 'Poppins', sans-serif;
    width: 780px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 3px solid rgb(88, 83, 83);
    background-color: rgba(95, 95, 95, 0.64);
    padding: 12px 34px;
    font-size: 23px;
    cursor: pointer;
    text-align: center;
    transition: 1s;
    position: absolute;
    top: 600px;
    left: 0;
    right: 0;
    margin: auto;
}
.send-btn:hover{
    border: 3px solid rgb(9, 19, 42);
    background: rgb(18, 24, 33);
    transition: 1s;
    box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.20);
}






.footer>section:nth-child(3) {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 900px;
    bottom: 0;
    background-color: #11141b;
    box-shadow: 2px -56px 95px #000000;
}

.footer>section:nth-child(3)>div {
    width: fit-content;
    height: fit-content;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
}

.footer>section:nth-child(3)>div>ul>a>li {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 30px;
    padding-left: 25px;
}

.footer>section:nth-child(3)>p:nth-child(2) {
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-left: 68px;
}

.footer>section:nth-child(3)>p:nth-child(4) {
    font-size: 15px;
    color: white;
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
    padding-left: 80px;
}