.MyProjects{
    width: 99vw;
    height: 120vh;
    top: 524vh;
    background-color: #0c0f16;;
    position: absolute;
}
.MyProjects>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    font-size: 50px;
}
.my-works>div:nth-child(1){
    display: flex;
    width: 85%;
    height: 70vh;
    /*border: 1px solid red;*/
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    top: 170px;
    margin: auto;
    gap: 140px;
}
.my-works>div:nth-child(1)>div{
    width: 25%;
    height: 100%;
    background-color: #11141b;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 5%;
    transition: 1s;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);



}
.my-works>div:nth-child(1)>div>div:nth-child(1){
    width: 100%;
    height: 40%;
    /*border: 1px solid red;*/
    position: relative;
    margin-left: -43px;
    border-radius: 15px;
    margin-top: 25px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
}
.my-works>div:nth-child(1)>div:hover{
    background-color: #013739;
}
.my-works>div:nth-child(1)>div>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.my-works>div:nth-child(1)>div>div:nth-child(2){
    width: 80px;
    height: 80px;
    /*border: 1px solid red;*/
    transform: rotate(45deg);
    border-radius: 25px;
    top: -8%;
    left: 30px;
    position: relative;
    background-color: #aaa8a8;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
}
.my-works>div:nth-child(1)>div>div:nth-child(2)>i{
    color: orangered;
    font-size: 45px;
    transform: rotate(-45deg);
    margin: 15px;

}
.my-works>div:nth-child(1)>div>h2{
    font-size: 30px;
    color: #909090;
    margin-top: -10px;
    margin-left: 100px;
    font-family: 'Alata', sans-serif;
    -webkit-box-reflect: below 0 linear-gradient(transparent,transparent,#0006);;
}
.my-works>div:nth-child(1)>div>a>i{
    font-size: 100px;
    margin-left: 140px;
    color: orangered;
    cursor: pointer;
    transition: 1s;

}
.my-works>div:nth-child(1)>div>a>i:hover{
    color: white;
}