/*Mini Laptop*/

@media all and (min-width: 768px ) and (max-width: 1024px) {

    header>div:nth-child(3)>nav {
        right: -3px;
        font-size: 6px;
    }
    header>div:nth-child(3)>p {
        margin-top: 26px;
        font-size: 22px;
    }

    header>div:nth-child(4)>p:nth-child(1) {
        font-size: 28px;
        margin-left: 194px;
    }
    header>div:nth-child(4)>p:nth-child(2) {
        font-size: 63px;
    }
    header>div:nth-child(5)>ul>li {
        padding-left: 0px;
    }

    .hire-btn {
        width: 150px;
        left: 14%;
        font-size: 17px;
        top: 85%;

    }
    .View-Work {
        width: 150px;
        font-size: 17px;
        top: 85%;
    }
    .AboutMe>h1 {
        font-size: 46px;
    }
    .AboutMe>div:nth-child(2) {
        width: 394px;
        height: 355px;
        top: 145px;
        left: 68px;
    }
    .AboutMe>div:nth-child(3) {
        width: 51vw;
        height: 70vh;
        right: 0px;
        top: -172px;
    }
    .MyServices>h1 {
        font-size: 46px;
    }

    .MyServices>div {
        width: 280px;
        height: 290px;
    }
    .MyServices>div:nth-child(2) {
        left: 33px;
        top: 80px;
    }
    .MyServices>div:nth-child(3) {
        top: 81px;
        left: -4px;
    }
    .MyServices>div:nth-child(4) {
        top: 81px;
        left: 655px;
    }
    .MyServices>div>div>i {
        font-size: 40px;
    }
    .MyServices>div>p {
        font-size: 24px;
        bottom: 52px;
    }
    .MySkills>div:nth-child(2),.MySkills>div:nth-child(4),.MySkills>div:nth-child(6) {
        font-size: 18px;
    }
    .MySkills>section:nth-child(3),.MySkills>section:nth-child(5) {
        width: 934px;
        height: 112px;
    }
    .MySkills>section:nth-child(3)>div>p, .MySkills>section:nth-child(5)>div>p, .MySkills>section:nth-child(7)>div>p {
        font-size: 20px;
    }
    .MySkills>section:nth-child(3)>div>img, .MySkills>section:nth-child(5)>div>img, .MySkills>section:nth-child(7)>div>img {
        width: 42%;
        height: 56%;
        margin-left: 38px;
        margin-top: 8px;
    }
    .MySkills>section:nth-child(7)>div {
        width: 35%;
        height: 79%;
    }
    .MySkills>section:nth-child(7) {
        width: 350px;
        height: 151px;
        top: 595px;
        left: 97px;
    }

    .MySkills>div:nth-child(6) {
        top: 558px
    }

    .Education>h1 {
        left: 42px;
        top: -11px;
        font-size: 46px;
    }

    .Education>section {
        width: 900px;
        height: 400px;
    }
    .Education>section>div>div:first-of-type {
        width: 10px;
        height: 11px;
    }
    .Education>section>div>div:nth-child(2) {
        width: 4px;
        height: 99px;
        margin-top: 27px;
        margin-left: 22px;
    }
    .Education>section>div>div:nth-child(3) {
        width: 10px;
        height: 11px;
    }
    .Education>section>div>div:nth-child(4) {
        width: 4px;
        margin-top: 30px;
        margin-left: 22px;
    }
    .Education>section>div>p:nth-child(7){
        margin-left: 188px;
        font-size: 16px;
    }
    .Education>section>div>p:nth-child(8) {
        margin-left: 188px;
        font-size: 16px;
        margin-top: 146px;
    }

    .MyProjects>h1 {
        font-size: 46px;
    }
    .my-works>h1 {
        top: 68px;
        font-size: 25px;
    }

    .Contact>h1 {
        font-size: 46px;
    }
    .Contact>section>div {
        width: 33%;
        height: 101%;
    }
    .Contact>section>div>i {
        font-size: 83px;
        margin-left: 12px;
        margin-top: 40px;
    }
    .Contact>section>div>h1 {
        margin-left: 113px;
        margin-top: -81px;
        font-size: 30px;
    }
    .Contact>section>div>h3 {
        margin-left: 112px;
        margin-top: -14px;
        font-size: 15px;
    }
    .footer>h1{
        font-size: 46px;
    }

    .footer>section:nth-child(2)>div>h3 {
        font-size: 20px;
    }


}
@media all and (min-width: 425px) and (max-width: 768px) {

    header > video {
        visibility: hidden;
    }

    header > div:nth-child(2) {
        width: 762px;
        height: 813px;
    }

    header > div:nth-child(4) > p:nth-child(2) {
        font-size: 59px;
        /*color: rgb(248 255 52  32%);*/
    }


    header > div:nth-child(3) > nav {
        right: -6px;
        font-size: 0;
        top: 10px;
    }

    header > div:nth-child(3) > p {
        margin-top: 31px;
        font-size: 14px;
        margin-left: 16px;
    }

    header > div:nth-child(4) > p:nth-child(1) {
        font-size: 20px;
        margin-left: 219px;
        margin-top: 31px;
    }

    header > div:nth-child(4) > p:nth-child(2) {
        font-size: 59px;
    }

    header > div:nth-child(5) > ul > li {
        font-size: 31px;
    }

    .hire-btn {
        left: 2%;
        font-size: 10px;
    }

    .View-Work {
        font-size: 10px;
        left: 252px;
    }

    .AboutMe > h1 {
        font-size: 34px;
        top: 42px;

    }

    .AboutMe > div:nth-child(2) {
        width: 310px;
        height: 302px;
        top: 145px;
        left: 41px;
    }

    .AboutMe > div:nth-child(3) {
        width: 38vw;
        height: 67vh;
        right: 62px;
        top: -196px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(1) {
        font-size: 21px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(2) {
        font-size: 10px;
        color: white;
        margin: 0;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(3) {
        font-size: 11px;
        line-height: 24px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(4) {
        font-size: 12px;
    }

    .MyServices > h1 {
        font-size: 34px;
        top: 42px;
    }

    .MyServices > div {
        width: 220px;
        height: 220px;
    }

    .MyServices > div:nth-child(4) {
        top: 81px;
        left: 488px;
    }

    .MyServices > div:nth-child(3) {
        top: 81px;
        left: 0px;
    }

    .MyServices > div > p {
        font-size: 18px;
        bottom: 30px;
    }

    .MyServices > div > div {
        width: 85px;
        height: 85px;
    }

    .MyServices > div > div > i {
        font-size: 33px;
    }


    .MySkills > h1 {
        font-size: 34px;
        top: 42px;
    }

    .MySkills > section:nth-child(3), .MySkills > section:nth-child(5) {
        width: 704px;
        height: 96px;
    }

    .MySkills > section:nth-child(3) > div > img, .MySkills > section:nth-child(5) > div > img, .MySkills > section:nth-child(7) > div > img {
        width: 51%;
        height: 51%;
        margin-left: 25px;
        margin-top: 8px;
    }

    .MySkills > section:nth-child(3) > div > p, .MySkills > section:nth-child(5) > div > p, .MySkills > section:nth-child(7) > div > p {
        font-size: 15px;
    }

    .MySkills > section:nth-child(7) {
        width: 290px;
        height: 125px;
        left: 71px;
    }

    .Education > h1 {
        font-size: 34px;
        top: 0px;
    }

    .Education > section {
        width: 720px;
        height: 380px;
    }

    .Education > section > div > p:nth-child(7) {
        margin-left: 161px;
        font-size: 11px;
        margin-top: -233px;
    }

    .Education > section > div > p:nth-child(8) {
        margin-left: 160px;
        font-size: 11px;
        margin-top: 146px;
    }

    .Education > section > div > div:nth-child(5) {
        width: 87px;
        height: 85px;
        margin-left: 49px;
    }

    .Education > section > div > div:nth-child(6) {
        width: 87px;
        height: 85px;
        margin-left: 49px;

    }

    .MyProjects > h1 {
        font-size: 34px;
    }

    .my-works > h1 {
        top: 68px;
        font-size: 17px;
        color: #a9a902;
    }

    .my-works > div:nth-child(3) {
        width: 300px;
        height: 200px;
    }

    .my-works > div:nth-child(3) {
        width: 288px;
        height: 210px;
    }

    .my-works > div:nth-child(2) {
        width: 300px;
        height: 150px;
        left: 250px;
        right: 40px;
    }

    .my-works > div:nth-child(4) {
        width: 270px;
        height: 103px;
    }

    .my-works > div:nth-child(1) {
        width: 200px;
        height: 106px;
        left: 450px;
    }

    .my-works > div:nth-child(5) {
        width: 300px;
        height: 152px;
        left: 70px;
    }

    .my-works > div:nth-child(6) {
        bottom: 94px;
    }

    .my-works > div:nth-child(6) > div {
        width: 30px;
        height: 30px;
        margin-left: 17px;
    }

    .my-works > a:nth-child(7) > div {
        width: 170px;
        height: 30px;
    }

    .my-works > a:nth-child(7) > div > h3 {
        top: 4px;
        left: 11px;
    }

    .my-works > a:nth-child(7) > div > i {
        font-size: 20px;
        color: #ffd778;
        right: -13px;
    }

    .Contact > h1 {
        font-size: 34px;
        top: -53px;
    }

    .Contact > section {
        position: absolute;
        width: 590px;
        height: 270px;
        top: 15px;
        left: 173px;
        /* display: flex; */
        flex-direction: column;
    }

    .Contact > section > div > i {
        font-size: 52px;
        margin-left: 23px;
        margin-top: 19px;
    }

    .Contact > section > div > h1 {
        margin-left: 113px;
        margin-top: -46px;
        font-size: 23px;
        color: greenyellow;
    }

    .Contact > section > div {
        width: 69%;
        height: 107%;
    }

    .Contact > section > div > h3 {
        color: lightslategrey;
    }

    .footer > h1 {
        font-size: 34px;
        top: 52px;
    }

    .footer > section:nth-child(2) > div {
        top: 79px;
        width: 727px;
        height: 39px;
    }

    .footer > section:nth-child(2) > div:nth-child(2) {
        top: 140px;
    }

    .footer > section:nth-child(2) > div {
        top: 79px;
        width: 716px;
        height: 39px;
    }

    .footer > section:nth-child(2) > div:nth-child(3) {
        top: 199px;
    }

    .footer > section:nth-child(2) > div > h3 {
        font-size: 16px;
    }

    .footer > section:nth-child(2) > div > input {
        width: 639px;
        height: 37px;
        font-size: 20px;
    }

    .footer > section:nth-child(2) > div:nth-child(4) {
        top: 261px;
        height: 145px;
    }

    .footer > section:nth-child(2) > div:nth-child(4) > textarea {
        height: 143px;
        width: 713px;
    }

    .send-btn {
        width: 630px;
        font-size: 15px;
        top: 454px;
    }

    footer {
        height: 114vh;
    }

    .footer > section:nth-child(3) {
        top: 693px;
    }

    .footer > section:nth-child(2) {
        width: 99%;
        height: 687px;
        top: 120px;
    }

}
@media all and (max-width: 425px) {

    header > div:nth-child(3) > nav {
        display: none;
    }

    header > div:nth-child(4) > p:nth-child(1) {
        font-size: 17px;
        margin-left: 12px;
    }

    header > div:nth-child(4) > p:nth-child(2) {
        font-size: 33px;
        margin-bottom: 447px;
    }

    header > div:nth-child(5) > ul > li {
        list-style: none;
        display: block;
        color: white;
        font-size: 40px;
        padding-left: 0;
    }

    header > div:nth-child(5) {
        top: 107px;
        left: 203px;
    }

    .hover-fx {
        margin: 24px;
        width: 62px;
        height: 59px;
        line-height: 63px;
    }

    .hire-btn {
        width: 145px;
        margin-left: 150px;
        padding: 8px 6px;
        font-size: 12px;
        top: 106%;
        left: 12%;
    }

    .View-Work {
        width: 150px;
        margin-left: 150px;
        padding: 8px 6px;
        font-size: 12px;
        top: 106%;
        left: -35%;
    }

    header > video {
        display: none;
    }

    header > div:nth-child(2) {
        width: 371px;
        height: 641px;
    }

    .AboutMe > h1 {
        font-size: 35px;
    }

    .AboutMe > div:nth-child(2) {
        width: 270px;
        height: 250px;
        top: 81px;
        left: 51px;
    }

    .AboutMe > div:nth-child(3) {
        width: 82vw;
        height: 40vh;
        right: 19px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(1) {
        font-size: 24px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(2) {
        font-size: 9px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(3) {
        font-size: 12px;
        margin-top: 15px;
        line-height: 17px;
    }

    .AboutMe > div:nth-child(3) > p:nth-child(4) {
        font-size: 10px;
        margin-top: 32px;
    }

    .MyServices > h1 {
        font-size: 35px;
    }

    .MyServices > div {
        width: 230px;
        height: 123px;
    }

    .MyServices > div:nth-child(2) {
        left: 78px;
        top: 0;
        bottom: 261px;
    }

    .MyServices > div:nth-child(3) {
        top: 50px;
        left: 15px;
    }

    .MyServices > div:nth-child(4) {
        top: 362px;
        left: 12px;
    }

    .MyServices > div > div {
        width: 82px;
        height: 82px;
        bottom: -3px;
        left: -108px;
    }

    .MyServices > div > p {
        font-size: 14px;
        bottom: 17px;
        left: 100px;
    }

    .MyServices > div > div > i {
        font-size: 35px;
    }

    .MySkills > h1 {
        font-size: 35px;
    }

    .MySkills > div:nth-child(2) {
        top: 100px;
        font-size: 14px;
    }

    .MySkills > section:nth-child(3) {
        width: 100px;
        height: 100px;
        top: 133px;
        left: 0;
        right: 221px;
        display: flex;
        gap: 38px;
        flex-direction: column;
    }

    .MySkills > section:nth-child(5) {
        width: 100px;
        height: 100px;
        top: 133px;
        left: 16px;
        display: flex;
        gap: 38px;
        flex-direction: column;
    }

    .MySkills > section:nth-child(3) > div > img, .MySkills > section:nth-child(5) > div > img, .MySkills > section:nth-child(7) > div > img {
        width: 40%;
        height: 52%;
        margin-left: 30px;
        margin-top: 10px;
    }

    .MySkills > section:nth-child(3) > div > p, .MySkills > section:nth-child(5) > div > p, .MySkills > section:nth-child(7) > div > p {
        font-size: 13px;
    }

    .MySkills > section:nth-child(7) {
        width: 100px;
        height: 100px;
        top: 133px;
        left: 247px;
        gap: 38px;
        flex-direction: column;
    }

    .MySkills > div:nth-child(2) {
        top: 100px;
        font-size: 10px;
        right: 216px;
    }

    .MySkills > div:nth-child(4) {
        font-size: 10px;
        top: 100px;
        left: 11px;
        color: #1cb6ff;
    }

    .MySkills > div:nth-child(6) {
        color: #ef538f;
        font-size: 11px;
        top: 100px;
        left: 246px;
    }

    .Education > h1 {
        font-size: 35px;
        top: -66px;
    }

    .Education > section > div > div:nth-child(1), .Education > section > div > div:nth-child(2), .Education > section > div > div:nth-child(3), .Education > section > div > div:nth-child(4) {
        display: none;
    }

    .Education > section > div > div:nth-child(5) {
        width: 60px;
        height: 60px;
        margin-top: 44px;
        margin-left: 26px;
    }

    .Education > section > div > div:nth-child(6) {
        width: 60px;
        height: 60px;
        margin-top: 44px;
        margin-left: 26px;
    }

    .Education > section > div > p:nth-child(7) {
        margin-left: 141px;
        margin-top: -156px;
    }

    /*.Education>section>div>p:nth-child(8) {*/
    /*    margin-left: 141px;*/
    /*    margin-top: 75px;*/
    /*    font-size: 12px;*/
    /*}*/
    /*.Education>section>div {*/
    /*    width: 25%;*/
    /*    height: 62%;*/
    /*    position: relative;*/
    /*    left: 38px;*/
    /*    top: -16px;*/
    /*}*/
    .Education > section > div:nth-child(1) {
        width: 28%;
        height: 59%;
        position: relative;
        left: 18px;
        top: -100px;
    }

    .Education > section > div:nth-child(1) > p:nth-child(7) {
        margin-left: 135px;
        margin-top: -163px;
        font-size: 11px;
    }

    .Education > section > div:nth-child(1) > p:nth-child(8) {
        margin-left: 137px;
        margin-top: 96px;
        font-size: 11px;
    }

    .Education > section > div:nth-child(2) {
        width: 28%;
        height: 59%;
        position: relative;
        left: -344px;
        top: 154px;
    }

    .Education > section > div:nth-child(2) > p:nth-child(7) {
        margin-left: 136px;
        margin-top: -157px;
        font-size: 11px;
    }

    .Education > section > div:nth-child(2) > p:nth-child(8) {
        margin-left: 136px;
        margin-top: 89px;
        font-size: 11px;
    }

    .MyProjects > h1 {
        font-size: 35px;
    }

    .my-works > div:nth-child(1) {
        display: none;
    }

    .my-works > div:nth-child(2) {
        display: none;
    }

    .my-works > div:nth-child(3) {

    }

    .my-works > div:nth-child(4) {
        display: none;
    }

    .my-works > div:nth-child(5) {
        display: none;
    }

    .my-works > div:nth-child(3) {
        width: 250px;
        height: 200px;
        bottom: 127px;
        opacity: 59%;
    }

    .my-works > h1 {
        top: 78px;
        font-size: 20px;
        color: mediumvioletred;
    }

    .my-works > div:nth-child(6) > div {
        width: 20px;
        height: 20px;
        margin-left: 31px;
    }

    .my-works > div:nth-child(6) > i {
        font-size: 28px;
    }

    .my-works > div:nth-child(6) > i:first-of-type {
        right: 254px;
    }

    .my-works > div:nth-child(6) > i {
        font-size: 22px;
        left: 0;
    }

    .my-works > div:nth-child(6) > i:last-of-type {
        left: 281px;
    }

    .my-works > div:nth-child(6) {
        bottom: 197px;
        left: -24px;
    }

    .my-works > a:nth-child(7) > div {
        width: 180px;
        height: 54px;
        top: 420px;
        right: 69px;
    }

    .MyProjects {
        height: 90vh;
    }

    .Contact > h1 {
        top: -191px;
        font-size: 35px;
    }

    .Contact > section {
        width: 87%;
        height: 36%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .Contact > section > div {
        width: 100%;
        height: 89%;
        gap: 20px;
        left: 28px;
        bottom: 135px;
    }

    .Contact > section > div > i {
        font-size: 63px;
        color: #5c5959;
        margin-left: 22px;
        margin-top: 31px;
        position: relative;
        bottom: 17px;
    }

    .Contact > section > div > h1 {
        margin-left: 108px;
        margin-top: 0;
        font-size: 19px;
        position: relative;
        top: -72px;
        color: darkgray;
    }

    .Contact > section > div > h1 {
        margin-left: 108px;
        margin-top: 0;
        font-size: 19px;
        position: relative;
        top: -72px;
        color: darkgray;
    }

    .Contact > section {
        width: 87%;
        height: 36%;
        gap: 20px;
        top: -114px;
        left: 22px;
    }

    .Contact > section > div > h3 {
        color: #798392;
        margin-left: 0;
        margin-top: 0;
        position: relative;
        left: 100px;
        right: 0;
        font-size: 14px;
        bottom: 80px;
    }

    .footer > h1 {
        font-size: 35px;
    }

    .footer > section:nth-child(2) > div > input {
        width: 250px;
        height: 34px;
        font-size: 12px;
        left: -316px;
    }

    .footer > section:nth-child(2) > div {
        top: -21px;
        width: 754px;
        height: 37px;
    }

    .footer > section:nth-child(2) > div {
        top: -30px;
        width: 294px;
        height: 37px;
    }

    .footer > section:nth-child(2) > div > input {
        width: 220px;
        height: 35px;
        font-size: 12px;
        left: 71px;
    }

    .footer > section:nth-child(2) > div > h3 {
        margin-top: 10px;
        margin-left: 10px;
        font-size: 16px;
    }

    .footer > section:nth-child(2) > div:nth-child(2) {
        top: 23px;
    }

    .footer > section:nth-child(2) > div:nth-child(3) {
        top: 81px;
    }

    .footer > section:nth-child(2) > div:nth-child(4) > textarea {
        height: 199px;
        width: 290px;
    }

    .footer > section:nth-child(2) > div:nth-child(4) {
        top: 141px;
    }

    footer {
        width: 99vw;
        height: 99vh;
    }

    .send-btn {
        width: 218px;
        padding: 12px 34px;
        font-size: 23px;
        top: 386px;
    }

    /*header>div:nth-child(3)>nav>ul>{*/
    /*    display: none;*/
    /*}*/
    /*header > div:nth-child(3) > nav {*/
    /*    right: -6px;*/
    /*    font-size: 0;*/
    /*    top: -98px;*/
    /*}*/
    /*header > div:nth-child(3) > p {*/
    /*    margin-top: 22px;*/
    /*    font-size: 24px;*/
    /*    margin-left: 20px;*/
    /*}*/
    /*header > div:nth-child(4) > p:nth-child(1) {*/
    /*    font-size: 12px;*/
    /*    margin-left: 5px;*/
    /*    margin-top: 69px;*/
    /*}*/
    /*header > div:nth-child(4) > p:nth-child(2) {*/
    /*    font-size: 35px;*/
    /*    margin-top: 6px;*/
    /*    margin-bottom: 429px;*/
    /*}*/


    /*header > div:nth-child(4) > p:nth-child(1) {*/
    /*    font-size: 5px;*/
    /*    margin-left: 100px;*/
    /*    margin-top: 31px;*/
    /*}*/
    /*header > div:nth-child(4) > p:nth-child(2) {*/
    /*    font-size: 14px;*/
    /*    margin-top: 6px;*/
    /*    margin-bottom: 429px;*/
    /*}*/

}