/*Mini Laptop*/

@media all and (min-width: 768px ) and (max-width: 1024px) {

    header>div:nth-child(3)>nav {
        right: -3px;
        font-size: 6px;
    }
    header>div:nth-child(3)>p {
        margin-top: 26px;
        font-size: 22px;
    }

    header>div:nth-child(4)>p:nth-child(1) {
        font-size: 28px;
        margin-left: 194px;
    }
    header>div:nth-child(4)>p:nth-child(2) {
        font-size: 63px;
    }
    header>div:nth-child(5)>ul>li {
        padding-left: 0px;
    }

    .hire-btn {
        width: 150px;
        left: 14%;
        font-size: 17px;
        top: 85%;

    }
    .View-Work {
        width: 150px;
        font-size: 17px;
        top: 85%;
    }
    .AboutMe>h1 {
        font-size: 46px;
    }
    .AboutMe>div:nth-child(2) {
        width: 394px;
        height: 355px;
        top: 145px;
        left: 68px;
    }
    .AboutMe>div:nth-child(3) {
        width: 51vw;
        height: 70vh;
        right: 0px;
        top: -172px;
    }
    .MyServices>h1 {
        font-size: 46px;
    }

    .MyServices>div {
        width: 280px;
        height: 290px;
    }
    .MyServices>div:nth-child(2) {
        left: 33px;
        top: 80px;
    }
    .MyServices>div:nth-child(3) {
        top: 81px;
        left: -4px;
    }
    .MyServices>div:nth-child(4) {
        top: 81px;
        left: 655px;
    }
    .MyServices>div>div>i {
        font-size: 40px;
    }
    .MyServices>div>p {
        font-size: 24px;
        bottom: 52px;
    }
    .MySkills>div:nth-child(2),.MySkills>div:nth-child(4),.MySkills>div:nth-child(6) {
        font-size: 18px;
    }
    .MySkills>section:nth-child(3),.MySkills>section:nth-child(5) {
        width: 934px;
        height: 112px;
    }
    .MySkills>section:nth-child(3)>div>p, .MySkills>section:nth-child(5)>div>p, .MySkills>section:nth-child(7)>div>p {
        font-size: 20px;
    }
    .MySkills>section:nth-child(3)>div>img, .MySkills>section:nth-child(5)>div>img, .MySkills>section:nth-child(7)>div>img {
        width: 42%;
        height: 56%;
        margin-left: 38px;
        margin-top: 8px;
    }
    .MySkills>section:nth-child(7)>div {
        width: 35%;
        height: 79%;
    }
    .MySkills>section:nth-child(7) {
        width: 350px;
        height: 151px;
        top: 650px;
        left: 97px;
    }



}