.MySkills{
    width: 99.1vw;
    height: 100vh;
    top: 304vh;
    background-color: #11141b;
    position: absolute;
}
.MySkills>h1{
    position: absolute;
    width: fit-content;
    height: fit-content;
    color: white;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    font-size: 50px;
}
.MySkills>div:nth-child(2){
    position: absolute;
    left: 0;
    right: 0;
    top: 130px;
    margin: auto;
    color: white;
    width: fit-content;
    height: fit-content;
    font-size: 25px;
}
.MySkills>section:nth-child(3){

    width: 1400px;
    height: 150px;
    top: 165px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    display: flex;
    gap: 20px;
}
.MySkills>section:nth-child(3)>div{
    width: 100%;
    height: 100%;

    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.89);
    background-color: #212529;
}
