body{
    /*background-color: #131347;*/
    background-image: linear-gradient(to right,#000428,#004E92);

}

body>h1{
    font-size: 60px;
    color: white;
    margin-left: 40%;
}

body>section{
    width: 85%;
    height: 40vh;
    /*border: 1px solid red;*/
    margin-left: 7%;
    display: flex;
    margin-bottom: -10px;
    gap: 30px;
}
body>section>div{
    width: 100%;
    height: 90%;
    /*border: 1px solid firebrick;*/
    border-radius: 10%;
    background-color: #4b4949;
    cursor: pointer;

}
body>section>div>img{
    width: 100%;
    height: 85%;
    /*border-radius: 10%;*/
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    margin-bottom: 10px;
}

body>section>div>video {
    width: 100%;
    height: 90%;
    border-radius: 10%;

    /*display: none;*/
}


.h1{
    position: relative;
    bottom: 20px;
    left: 30px;
    transition: 1s;
    color: rgba(10, 10, 10, 0.49);
    font-size: 20px;
    z-index: 5;
}


.h1:hover{
    color: rgba(142, 172, 224, 0.78);
}
a{
    text-decoration: none;
}
#allButton{
    width: 1100px;
    height: 50px;
    display: flex;
    gap: 10px;
    margin-left: 25%;
    margin-top: 60px;
    margin-bottom: 40px;

}

#allButton>a{
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    color: #1670f0;
    padding: 10px 30px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 20px 50px rgba(0,0,0,.5);
}
a:before{
    content: '';
    position: relative;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
}

a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animate1 2s linear infinite;
}
@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}

a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animate2 2s linear infinite;
}
@keyframes animate2 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
a span:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animate3 2s linear infinite;
}
@keyframes animate3 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
a span:nth-child(4){
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animate4 2s linear infinite;
}
@keyframes animate4 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}



