.background{
   background-image: linear-gradient(to right,#CC2B5E, #753A88);
    height: 100vh;
    padding-top: 1px;
}
.title{
   color: black;
    text-align: center;
    font-size: 60px;
    margin-top: 10%;
}
.display{
    color: white;
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 1em;
}