
.navbar>div>a{
    color: #4f5050;
}
.navbar>div>a{
    margin-left: 40px;
}
.navbar>div>div{
    position: absolute;
    margin-left: 900px;
}
.navbar>div>div>form>button{
   margin-left: 15px;
}
/*main>section:first-of-type{*/
/*    !*width: 98.9vw;*!*/
/*    height: 100vh;*/
/*}*/
/*main>section>section{*/
/*    border: 1px solid red;*/
/*    height: 200px;*/
/*}*/
/*main>section>section>section{*/
/*    border: 1px solid blue;*/
/*    !*height: 200px;*!*/
/*}*/
/*main>section>section:nth-child(1)>div{*/
/*    bg-light*/
/*}*/

